.bg-ruby {
  background-image: url("/images/Rubies.png");
  background-position: 30px 100%;
  background-repeat: no-repeat;
}

/* radial-gradient(104.56% 104.56% at 50% 52.81%, rgba(0, 0, 0, 0) 0%, rgba(229, 4, 152, 0.2) 100%) */
